/*Level Size*/

#imageWrapper {
  position: relative;
  height: 1920px;
  min-width: 1080px;
  width:auto;
  overflow: hidden;
}


/*Interactables */

#houseInterior1 {
  display: none;
  position: absolute;
  top: 28.19%;   /* use % not px */
  left: 63.15%;
  z-index: 5;
  transition: filter 0.3s ease;
}
#houseInterior1exit
{
    position: absolute;
    top: 60%;
    left: 21%;
    width: 120px;
    height: 120px;
	border:0px solid red;
    cursor: pointer;
}
#houseInterior1 img{
width: auto; height: auto; border-radius: 4px;
}
#houseDoor1
{
  position: absolute;
  top: 39.5%;
  left: 75%;
  width: 70px;
  height: 110px;
  cursor: pointer;
}
#obj {
	display:none;
}

/* Cave */

#caveInterior1 {
  display: none;
  position: absolute;
  top: 44.20%;   /* use % not px */
  left:5.05%;
  z-index: 5;
    transition: filter 0.3s ease;
}
#caveInterior1exit
{
    position: absolute;
    top: 87.3%;
    right: 26.5%;
    width: 80px;
    height: 40px;
	border:0px solid red;
    cursor: pointer;
	text-align:center;
	justify-content:center;
	align-items: center;         
    display: flex; 
	font-size:18px;
	 animation: pulse 1s infinite ease-in-out;
}
#caveInterior1 img{
width: auto; height: auto; border-radius: 4px;
}
#caveDoor1
{
  position: absolute;
  top: 61.9%;
  left: 39%;
  width: 70px;
  height: 110px;
  border:0px solid green;
  cursor: pointer;
}

#caveInterior2 {
  display: none;
  position: absolute;
  bottom: 37.71%;   /* use % not px */
  right: 8.2%;
  z-index: 5;
  transition: filter 0.3s ease;
}
#caveInterior2exit
{
    position: absolute;
    top:80%;
    right: 24%;
    width: 120px;
    height: 120px;
	border:0px solid red;
    cursor: pointer;
}
#caveInterior2 img{
width: auto; height: auto;
}
#caveDoor2
{
  position: absolute;
  bottom: 38.11%;   /* use % not px */
  right: 10.11%;
  width: 20px;
  height: 22px;
  cursor: pointer;  z-index:6
}


/* Animations */ 

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.15); }
  100% { transform: scale(1); }
}

@-webkit-keyframes pulse {
  0% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(1.15); }
  100% { -webkit-transform: scale(1); }
}

/* Data IDs for specific sized click boxes */


[data-id="obj2"] {width: 60px; height: 60px}