body, html {
      margin: 0;
      padding: 0;
      overflow-x: hidden;
      font-family: sans-serif;
	  overflow-y: scroll;  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE and Edge */
  font-family: "Atma", system-ui;
  font-weight: 500;
}

    }
	body::-webkit-scrollbar {
  display: none;              /* Chrome, Safari, Opera */
}
.game-container {
  overflow: hidden;
  position:absolute;
  display: block;
  width:auto;
  overflow-x:scroll;
  padding:0;margin:0;
  scrollbar-width: none;      /* Firefox */
  -ms-overflow-style: none;   /* IE & Edge */ 
}

    .marker, .click-zone {
      position: absolute;
      transform: translate(-50%, -50%);
    }
   /* .marker {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 3px solid green;
      background-color: rgba(0, 255, 0, 0.3);
      pointer-events: none;
	  z-index:10
    } */
	.marker {
      width: 60px;
      height: 60px;  background-image: url('../icons/x-icon.png');
background-size: cover;
      pointer-events: none;
	  z-index:10
    }

    .click-zone {
      width: 30px;
      height: 30px;
      cursor: pointer;
      background-color: transparent;
    }

#imageWrapper {
border-bottom:1px solid black;
  margin-bottom:200px;
}

.sparkle-animation {
  animation: sparkle 1.5s ease-in-out;
}
	

/* Animations */ 

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.15); }
  100% { transform: scale(1); }
}

@-webkit-keyframes pulse {
  0% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(1.15); }
  100% { -webkit-transform: scale(1); }
}
	

@keyframes sparkle {
  0% {
    transform: scale(0.7);
    opacity: 0;
    filter: brightness(0.8) drop-shadow(0 0 0px gold);
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
    filter: brightness(1.4) drop-shadow(0 0 8px gold);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    filter: brightness(1) drop-shadow(0 0 0px gold);
  }
}
